EventPublisher__ConnectionString=Host=db-lancamentos;Port=5432;Database=lancamentos_db;Username=<user>;Password=<password>
MongoDB__ConnectionString=<mongodb-connection-string-with-replica-set-rs0>
MongoDB__DatabaseName=consolidado_db
ConnectionStrings__Redis=redis:6380
