<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <fallbackPackageFolders>
    <!-- Desabilita fallback folders do Windows (Visual Studio) dentro do container Linux -->
  </fallbackPackageFolders>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
